<section class="restaurant-hero" id="hero">
  <div class="container">
    <h1 class="restaurant-hero__title">Mimiho</h1>
    <h2 class="restaurant-hero__text">Ресторан</h2>
    <p class="restaurant-hero__text-second">Смак життя 24/7</p>
    <div class="restaurant-hero__button-container">
      <button
        type="button"
        class="button restaurant-hero__button-hero"
        data-modal-open
      >
        Забронювати столик
      </button>
      <a
        class="button restaurant-hero__button-hero restaurant-hero__button-hero--padding"
        href="#menu"
      >
        Переглянути ціни
      </a>
    </div>
    <ul class="restaurant-hero__adress-social">
      <li>
        <a href="">
          <svg width="22px" height="22px" class="restaurant-hero__icon">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg width="22px" height="22px" class="restaurant-hero__icon">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg width="22px" height="22px" class="restaurant-hero__icon">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>

    <address>
      <a
        href="https://goo.gl/maps/wJHR6oR1RSBU5bay5"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="restaurant-hero__address-link"
      >
        <svg width="24px" height="24px" class="restaurant-hero__icon">
          <use href="./images/icons.svg#icon-location"></use>
        </svg>
        <p class="restaurant-hero__address-text">
          Україна, м. Полтава,<br />
          вул. Маршала Бірюзова, 15
        </p></a
      >
    </address>
  </div>
</section>
