<section class="about-kitchen">
  <div class="gradient-container">
    <div class="container">
      <p class="about-kitchen__subtitle">Amet minim mollit non</p>
      <h2 class="visually-hidden">Ресторан</h2>
      <p class="brand-name">Mimiho</p>
      <p class="about-kitchen__title-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <picture>
        <source
          srcset="
            ./images/restaurant-images/about-kitchen/about-kitchen1_mobile.jpg    1x,
            ./images/restaurant-images/about-kitchen/about-kitchen1_mobile@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/restaurant-images/about-kitchen/about-kitchen1_desktop.jpg    1x,
            ./images/restaurant-images/about-kitchen/about-kitchen1_desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/restaurant-images/about-kitchen/about-kitchen1_tablet.jpg    1x,
            ./images/restaurant-images/about-kitchen/about-kitchen1_tablet@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />

        <img
          class="about-kitchen__title-pic"
          src="./images/restaurant-images/about-kitchen/about-kitchen1_mobile.jpg"
          alt="Sandwich"
        />
      </picture>

      <div class="about-kitchen__wrapper">
        <picture>
          <source
            srcset="
              ./images/restaurant-images/about-kitchen/about-kitchen2_mobile.jpg    1x,
              ./images/restaurant-images/about-kitchen/about-kitchen2_mobile@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/restaurant-images/about-kitchen/about-kitchen2_desktop.jpg    1x,
              ./images/restaurant-images/about-kitchen/about-kitchen2_desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/restaurant-images/about-kitchen/about-kitchen2_tablet.jpg    1x,
              ./images/restaurant-images/about-kitchen/about-kitchen2_tablet@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />

          <img
            class="about-kitchen__img"
            src="./images/restaurant-images/about-kitchen/about-kitchen2_mobile.jpg"
            alt="Sandwich"
          />
        </picture>
        <p class="about-kitchen__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <ul class="slider restoraunt-x2">
        <li class="slider__item">
          <picture>
            <source
              srcset="
                ./images/restaurant-images/about-kitchen/about-kitchen3_mobile.jpg    1x,
                ./images/restaurant-images/about-kitchen/about-kitchen3_mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/restaurant-images/about-kitchen/about-kitchen3_desktop.jpg    1x,
                ./images/restaurant-images/about-kitchen/about-kitchen3_desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restaurant-images/about-kitchen/about-kitchen3_tablet.jpg    1x,
                ./images/restaurant-images/about-kitchen/about-kitchen3_tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <img
              src="./images/restaurant-images/about-kitchen/about-kitchen3_mobile.jpg"
              alt="Sandwich"
            />
          </picture>
        </li>
        <!-- <li class="slider__item">
          <picture>
            <source
              srcset="
                ./images/restaurant-images/about-kitchen/about-kitchen4_mobile.jpg    1x,
                ./images/restaurant-images/about-kitchen/about-kitchen4_mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/restaurant-images/about-kitchen/about-kitchen4_desktop.jpg    1x,
                ./images/restaurant-images/about-kitchen/about-kitchen4_desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/restaurant-images/about-kitchen/about-kitchen4_tablet.jpg    1x,
                ./images/restaurant-images/about-kitchen/about-kitchen4_tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <img
              src="./images/restaurant-images/about-kitchen/about-kitchen4_mobile.jpg"
              alt="Sandwich"
            />
          </picture>
        </li> -->
        <li class="slider__item">
          <picture>
            <source
              srcset="
                ./images/slick/mobile/slick11-mobile@1x.jpg 1x,
                ./images/slick/mobile/slick11-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/slick/desktop/slick11-desktop@1x.jpg 1x,
                ./images/slick/desktop/slick11-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/slick/tablet/slick11-tablet@1x.jpg 1x,
                ./images/slick/tablet/slick11-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <img
              src="./images/slick/mobile/slick11-mobile@1x.jpg"
              alt="Coffee"
              class="details-restaurant__first-pics"
            />
          </picture>
        </li>
        <li class="slider__item">
          <picture>
            <source
              srcset="
                ./images/slick/mobile/slick8-mobile@1x.jpg 1x,
                ./images/slick/mobile/slick8-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/slick/desktop/slick8-desktop@1x.jpg 1x,
                ./images/slick/desktop/slick8-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/slick/tablet/slick8-tablet@1x.jpg 1x,
                ./images/slick/tablet/slick8-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <img
              src="./images/slick/mobile/slick8-mobile@1x.jpg"
              alt="Coffee"
              class="details-restaurant__first-pics"
            />
          </picture>
        </li>
        <li class="slider__item">
          <picture>
            <source
              srcset="
                ./images/slick/mobile/slick15-mobile@1x.jpg 1x,
                ./images/slick/mobile/slick15-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/slick/desktop/slick15-desktop@1x.jpg 1x,
                ./images/slick/desktop/slick15-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/slick/tablet/slick15-tablet@1x.jpg 1x,
                ./images/slick/tablet/slick15-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <img
              src="./images/slick/mobile/slick15-mobile@1x.jpg"
              alt="Coffee"
              class="details-restaurant__first-pics"
            />
          </picture>
        </li>
        <li class="slider__item">
          <picture>
            <source
              srcset="
                ./images/slick/mobile/slick16-mobile@1x.jpg 1x,
                ./images/slick/mobile/slick16-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/slick/desktop/slick16-desktop@1x.jpg 1x,
                ./images/slick/desktop/slick16-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/slick/tablet/slick16-tablet@1x.jpg 1x,
                ./images/slick/tablet/slick16-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <img
              src="./images/slick/mobile/slick16-mobile@1x.jpg"
              alt="Coffee"
              class="details-restaurant__first-pics"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
