.footer {
  &__logo {
    display: block;
    font-family: 'Film P3';
    text-decoration: none;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
    color: $accentYellow;
    padding: 98px 0 99px 20px;
    text-transform: uppercase;

    @media screen and (min-width: 414px) {
      padding: 98px 0 99px 44px;
    }

    @include forTabletUp {
      padding: 117px 0 118px 107px;
      font-size: 64px;
      line-height: 1.078;
    }

    @include forDesktop {
      padding: 120px 0 115px 131px;
    }
  }

  &__list {
    position: absolute;
    top: 40px;
    right: 21px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media screen and (min-width: 414px) {
      right: 41px;
    }

    @include forTabletUp {
      top: 80px;
      right: 403px;
    }

    @include forDesktop {
      right: 529px;
    }
  }

  &__list-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: $accentYellow;
  }

  &__social-list {
    position: absolute;
    right: 30px;
    bottom: 40px;
    display: flex;
    gap: 10px;

    @media screen and (min-width: 414px) {
      gap: 21px;
    }

    @include forTabletUp {
      flex-direction: column;
      gap: 12px;
      right: 122px;
      top: 80px;
      bottom: 0;
    }

    @include forDesktop {
      right: 187px;
    }
  }

  &__social-link {
    text-decoration: none;

    @include forTabletUp {
      display: flex;
      width: 143px;
      justify-content: space-between;
      border: 0.5px solid $accentYellow;
      border-radius: 2px;
      padding: 10px 15px 10px 10px;
    }
  }

  &__social-text {
    display: none;

    @include forTabletUp {
      display: block;
      font-size: 16px;
      line-height: 1.25;
      letter-spacing: 0.02em;
      color: $accentYellow;
    }
  }

  &__social-icon {
    fill: rgba(243, 198, 83, 0.7);
  }

  @include forTabletUp {
    fill: $accentYellow;
  }

  @include forDesktop {
    fill: rgba(243, 198, 83, 0.7);
  }
}

.footer .container {
  background-color: $colorFooter;
  position: relative;
}
