.up-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: $accentYellow;
    transform: scale(1);
    transition: fill 250ms linear, transform 250ms linear;

    &:hover,
    &:focus {
      fill: $brown;
      transform: scale(1.2);

    }
  }
}
