.room-amenities {    
background-color: $fonLemon; 
padding-top: 32px;
padding-bottom: 32px;
@include forTabletUp {
padding-top: 48px;
padding-bottom: 40px;
@include forDesktop {
padding-bottom: 48px; 
}
}
&__container{
    @include forDesktop {
        padding-right: 136px;
    }
}
&__title {
font-family: 'Times New Roman';    
font-weight: 400;
font-size: 32px;
line-height: 1.16;   
text-transform: uppercase;
margin-bottom: 16px;
}
&__title-text {    

font-weight: 700;    
line-height: 1.25;
letter-spacing: 0.02em;
color: $gray;
margin-bottom: 32px;    
@include forTabletUp {
max-width: 757px;    
}
@include forDesktop {
   max-width: 1058px;
    }
}

&__column {

@include forTabletUp {
display: flex;
gap: 80px;
}
@include forDesktop {
gap: 58px;
}

}
&__text {    
font-weight: 700;    
line-height: 1.25;
letter-spacing: 0.02em;
color: $gray;
@include forTabletUp {
max-width: 400px;
}
@include forDesktop{
    max-width: 500px;
}
}
&__list {
@include forTabletUp {
margin-bottom: 40px;
}
}
&__item {
margin-bottom: 32px;
}
&__subtitle {
margin-bottom: 16px;  
font-family: 'Times New Roman';    
font-size: 24px;
line-height: 1.17;    
text-transform: uppercase;
}
&__button {
display: block;
padding: 20px 40px;
font-size: 20px;
font-weight: 500;
font-family: inherit;
line-height: 1.2;   
letter-spacing: 0; 
margin: 0 auto;
background: $black;
border: 1px solid $accentYellow;
border-radius: 25px;
color: $white;
width: 100%;
max-width: 384px;
margin-bottom: 20px;
text-transform: uppercase;
&:hover {
background: $accentYellow;        
color: $black;
}
@include forTabletUp {
margin-right: 0;
max-width: 434px;
}
@include forDesktop{
    padding: 20px 71px;
    max-width: 500px;
}
}
&__link {   
display: flex;
gap: 12px;
justify-content: center;    
font-weight: 500;    
line-height: 1.25;
letter-spacing: 0.115em;
color: $brown;
text-decoration: none;
&:hover {
color: $accentYellow;
}
@include forTabletUp {
justify-content: flex-end;
font-size: 20px;
line-height: 1.2;
gap: 16px;
}
}
&__icon {
fill: $brown;
.room-amenities__link:hover & {
fill: $accentYellow;
}

}
}
