<section class="second-room-hero">
  <div class="main-container">
    <div class="second-room__img">
      <picture>
        <source
          srcset="
            ./images/room-hero/mobile-room-hero.jpg    1x,
            ./images/room-hero/mobile-room-hero@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/room-hero/tab-room-hero.jpg    1x,
            ./images/room-hero/tab-room-hero@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/room-hero/desktop-room-hero.jpg    1x,
            ./images/room-hero/desktop-room-hero@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />

        <img
          src="./images/room-hero/second/second-room-mobile.jpg"
          alt="Sandwich"
        />
      </picture>
    </div>

    <div class="container second-container">
      <h1 class="room-hero__title">
        <span class="room-hero__title--big">Двомісний номер</span> люкс
      </h1>

      <p lang="en" class="room-hero__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <a
        href="https://goo.gl/maps/wJHR6oR1RSBU5bay5"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="room-hero__adress-link"
      >
        <svg width="24px" height="24px" class="room-hero__link">
          <use href="./images/icons.svg#icon-location"></use>
        </svg>
        <p class="room-hero__link-text">
          Україна, м. Полтава,<br />
          вул. Маршала Бірюзова, 15
        </p></a
      >
      <ul class="room-hero__adress-social">
        <li class="room-hero__list">
          <a href="" class="room-hero__social-link">
            <svg width="22px" height="22px" class="room-hero__link">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="room-hero__list">
          <a href="" class="room-hero__social-link">
            <svg width="22px" height="22px" class="room-hero__link">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="room-hero__list">
          <a href="" class="room-hero__social-link">
            <svg width="22px" height="22px" class="room-hero__link">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
      <button
        type="button"
        class="button room-hero__button--hero"
        data-modal-price-open
      >
        Переглянути ціни
      </button>
    </div>
  </div>
</section>
<!-- <section class="room-hero" id="hero">
  <div class="main-container">
    
    <h1 class="room-hero__title">
      <span class="room-hero__title--big">Двомісний номер</span> люкс
    </h1>

    <p lang="en" class="room-hero__text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <a
      href="https://goo.gl/maps/wJHR6oR1RSBU5bay5"
      target="_blank"
      rel="noopener noreferrer nofollow"
      class="room-hero__adress-link"
    >
      <svg width="24px" height="24px" class="room-hero__link">
        <use href="./images/icons.svg#icon-location"></use>
      </svg>
      <p class="room-hero__link-text">
        Україна, м. Полтава,<br />
        вул. Маршала Бірюзова, 15
      </p></a
    >
    <ul class="room-hero__adress-social">
      <li class="room-hero__list">
        <a href="" class="room-hero__social-link">
          <svg width="22px" height="22px" class="room-hero__link">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li class="room-hero__list">
        <a href="" class="room-hero__social-link">
          <svg width="22px" height="22px" class="room-hero__link">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li class="room-hero__list">
        <a href="" class="room-hero__social-link">
          <svg width="22px" height="22px" class="room-hero__link">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
    <button
      type="button"
      class="button room-hero__button--hero"
      data-modal-price-open
    >
      Переглянути ціни
    </button>
  </div>
</section> -->
