@import '~node_modules/modern-normalize/modern-normalize.css';

body {
  font-family: 'Montserrat';
}
body.modal-open {
  overflow: hidden;
}
h1,
h3,
h2,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  background: #dadada;
  border-radius: 2px;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.gradient-container {
  width: 100%;
  max-width: 414px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to right, transparent 0%, transparent 49.99%, rgba(186, 186, 186, 0.4) 1px, transparent 50.1%, transparent 100%), linear-gradient(to right, transparent 0%, transparent 29.99%, rgba(186, 186, 186, 0.4) 1px, transparent 30.1%, transparent 100%), linear-gradient(to right, transparent 0%, transparent 70.99%, rgba(186, 186, 186, 0.4) 1px, transparent 71.1%, transparent 100%);
  

  @media screen and (min-width: 1024px) {
    width: 1024px;
    max-width: 1024px;
    background: linear-gradient(to right, transparent 0%, transparent 49.99%, rgba(186, 186, 186, 0.4) 1px, transparent 50.1%, transparent 100%), linear-gradient(to right, transparent 0%, transparent 29.99%, rgba(186, 186, 186, 0.4) 1px, transparent 30.1%, transparent 100%), linear-gradient(to right, transparent 0%, transparent 70.99%, rgba(186, 186, 186, 0.4) 1px, transparent 71.1%, transparent 100%);
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
    max-width: 1280px;
   
  }
}
