@font-face {
  font-family: 'Times New Roman', serif;
  src: url('../fonts/TimesNewRoman.ttf') format('ttf'),
    url('../fonts/TimesNewRoman.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Times New Roman', serif;
  src: url('../fonts/TimesNewRomanBold.ttf') format('ttf'),
    url('../fonts/TimesNewRomanBold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Film P3';
  src: url('../fonts/FontsFree-Net-FilmP3Bold.ttf') format('ttf'),
    url('../fonts/FontsFree-Net-FilmP3Bold.woff2') format('woff2');
  font-weight: 700;
}
