@font-face {
  font-family: 'Times New Roman', serif;
  src: url('../fonts/TimesNewRoman.ttf') format('ttf'),
    url('../fonts/TimesNewRoman.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Times New Roman', serif;
  src: url('../fonts/TimesNewRomanBold.ttf') format('ttf'),
    url('../fonts/TimesNewRomanBold.woff') format('woff');
  font-weight: 700;
}
@font-face {
  font-family: 'Film P3';
  src: url('../fonts/FontsFree-Net-FilmP3Bold.ttf') format('ttf'),
    url('../fonts/FontsFree-Net-FilmP3Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-regular.ttf') format('ttf'),
    url('../fonts/montserrat-regular.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-medium.ttf') format('ttf'),
    url('../fonts/montserrat-medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-semibold.ttf') format('ttf'),
    url('../fonts/montserrat-semibold.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/montserrat-bold.ttf') format('ttf'),
    url('../fonts/montserrat-bold.woff') format('woff');
  font-weight: 700;
}
