// Colors
$white: #ffffff;
$fonLemon: #fffdee;
$black: #000000;
$brown: #c79002;
$accentYellow: #f3c653;
$fonDarkLemon: #f0ecd6;
$colorFooter: #0e0c07;
$gray: #757575;

// Box-hadow
$littleshadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
$bigshadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);