// Colors
$white: #ffffff;
$fonLemon: #fffdee;
$black: #000000;
$brown: #c79002;
$accentYellow: #f3c653;
$fonDarkLemon: #f0ecd6;
$colorFooter: #0e0c07;
$lightGrayText: #B4B4B4;
$grayText: #5f5f5f;

// Box-Shadow
$littleShadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
$bigShadow: 5px 5px 70px 17px rgba(0, 0, 0, 0.25);