<section class="hotel">
  <div class="gradient-container">
    <div class="container">
      <div class="hotel__top-box">
        <div class="hotel__info-box">
          <div class="hotel__sub-box">
            <p class="hotel__sub-title">Amet minim mollit non</p>
            <p class="brand-name">Mimiho</p>
          </div>
          <div class="disc-box">
            <h2 class="hotel__title">Двомісний номер</h2>
            <p class="hotel__text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </div>
        </div>
        <picture>
          <source
            srcset="
              ./images/hotel-images/first-room-main-mobile.jpg    1x,
              ./images/hotel-images/first-room-main-mobile@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/hotel-images/first-room-main-tablet.jpg    1x,
              ./images/hotel-images/first-room-main-tablet@2x.jpg 2x
            "
            media="(min-width: 1024px) and (max-width: 1279px)"
          />
          <source
            srcset="
              ./images/hotel-images/first-room-main-desktop.jpg    1x,
              ./images/hotel-images/first-room-main-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="hotel__main-room-img"
            src="./images/hotel-images/first-room-main-mobile.jpg"
            alt="На фото двомісний номер люкс із двомісним ліжком, 
        зручним кріслом, журнальним столиком і відкритим балконом"
          />
        </picture>
      </div>
      <div class="hotel__bottom-box">
        <ul class="hotel__slider">
          <li></li>

          <li class="slick__li">
            <ul class="one-time">
              <!-- <li>
                <div>
                  <picture>
                    <source
                      srcset="
                        ./images/hotel-images/first-room-slider-2-mobile.jpg    1x,
                        ./images/hotel-images/first-room-slider-2-mobile@2x.jpg 2x
                      "
                      media="(max-width: 1023px)"
                    />
                    <source
                      srcset="
                        ./images/hotel-images/first-room-slider-2-tablet.jpg    1x,
                        ./images/hotel-images/first-room-slider-2-tablet@2x.jpg 2x
                      "
                      media="(min-width: 1024px) and (max-width: 1279px)"
                    />
                    <source
                      srcset="
                        ./images/hotel-images/first-room-slider-2-desktop.jpg    1x,
                        ./images/hotel-images/first-room-slider-2-desktop@2x.jpg 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <img
                      class="hotel__slider-img"
                      src="./images/hotel-images/first-room-slider-2-mobile.jpg"
                      alt="На фото вид із вікна та чашечка кави на підвіконні"
                    />
                  </picture>
                </div>
              </li> -->
              <li>
                <div>
                  <picture>
                    <source
                      srcset="
                        ./images/slick/mobile/slick13-mobile@1x.jpg 1x,
                        ./images/slick/mobile/slick13-mobile@2x.jpg 2x
                      "
                      media="(max-width: 1023px)"
                    />
                    <source
                      srcset="
                        ./images/slick/desktop/slick13-desktop@1x.jpg 1x,
                        ./images/slick/desktop/slick13-desktop@2x.jpg 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./images/slick/tablet/slick13-tablet@1x.jpg 1x,
                        ./images/slick/tablet/slick13-tablet@2x.jpg 2x
                      "
                      media="(min-width: 1024px)"
                    />

                    <img
                      src="./images/slick/mobile/slick13-mobile@1x.jpg"
                      alt="Coffee"
                      class="details-restaurant__first-pics"
                    />
                  </picture>
                </div>
              </li>
              <li>
                <div>
                  <picture>
                    <source
                      srcset="
                        ./images/slick/mobile/slick1-mobile@1x.jpg 1x,
                        ./images/slick/mobile/slick1-mobile@2x.jpg 2x
                      "
                      media="(max-width: 1023px)"
                    />
                    <source
                      srcset="
                        ./images/slick/desktop/slick1-desktop@1x.jpg 1x,
                        ./images/slick/desktop/slick1-desktop@2x.jpg 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./images/slick/tablet/slick1-tablet@1x.jpg 1x,
                        ./images/slick/tablet/slick1-tablet@2x.jpg 2x
                      "
                      media="(min-width: 1024px)"
                    />

                    <img
                      src="./images/slick/mobile/slick1-mobile@1x.jpg"
                      alt="Coffee"
                      class="details-restaurant__first-pics"
                    />
                  </picture>
                </div>
              </li>
              <li>
                <div>
                  <picture>
                    <source
                      srcset="
                        ./images/slick/mobile/slick3-mobile@1x.jpg 1x,
                        ./images/slick/mobile/slick3-mobile@2x.jpg 2x
                      "
                      media="(max-width: 1023px)"
                    />
                    <source
                      srcset="
                        ./images/slick/desktop/slick3-desktop@1x.jpg 1x,
                        ./images/slick/desktop/slick3-desktop@2x.jpg 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./images/slick/tablet/slick3-tablet@1x.jpg 1x,
                        ./images/slick/tablet/slick3-tablet@2x.jpg 2x
                      "
                      media="(min-width: 1024px)"
                    />

                    <img
                      src="./images/slick/mobile/slick3-mobile@1x.jpg"
                      alt="Coffee"
                      class="details-restaurant__first-pics"
                    />
                  </picture>
                </div>
              </li>
              <li>
                <div>
                  <picture>
                    <source
                      srcset="
                        ./images/slick/mobile/slick4-mobile@1x.jpg 1x,
                        ./images/slick/mobile/slick4-mobile@2x.jpg 2x
                      "
                      media="(max-width: 1023px)"
                    />
                    <source
                      srcset="
                        ./images/slick/desktop/slick4-desktop@1x.jpg 1x,
                        ./images/slick/desktop/slick4-desktop@2x.jpg 2x
                      "
                      media="(min-width: 1280px)"
                    />
                    <source
                      srcset="
                        ./images/slick/tablet/slick4-tablet@1x.jpg 1x,
                        ./images/slick/tablet/slick4-tablet@2x.jpg 2x
                      "
                      media="(min-width: 1024px)"
                    />

                    <img
                      src="./images/slick/mobile/slick4-mobile@1x.jpg"
                      alt="Coffee"
                      class="details-restaurant__first-pics"
                    />
                  </picture>
                </div>
              </li>
            </ul>
          </li>
        </ul>

        <div class="hotel__buttons-block">
          <a class="button hotel__button" href="./room.html">Детальніше</a>
          <button
            type="button"
            class="button hotel__button"
            data-modal-price-1-open
          >
            Переглянути ціни
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
