<section class="hotel-hero">
  <div class="container">
    <h1 class="hotel-hero__title">Mimiho</h1>
    <p class="hotel-hero__text">Готель</p>
    <div class="hotel-hero__button-container">
      <button
        type="button"
        class="hotel-hero__button-hero"
        data-modal-room-open
      >
        Забронювати номер
      </button>
      <button
        type="button"
        class="hotel-hero__button-hero hotel-hero__button-hero--padding"
        data-modal-price-open
      >
        Переглянути ціни
      </button>
    </div>
    <ul class="hotel-hero__adress-social">
      <li>
        <a href="">
          <svg width="22px" height="22px" class="hotel-hero__icon">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg width="22px" height="22px" class="hotel-hero__icon">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg width="22px" height="22px" class="hotel-hero__icon">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>

    <address>
      <a
        href="https://goo.gl/maps/wJHR6oR1RSBU5bay5"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="hotel-hero__address-link"
      >
        <svg width="24px" height="24px" class="hotel-hero__icon">
          <use href="./images/icons.svg#icon-location"></use>
        </svg>
        <p class="hotel-hero__address-text">
          Україна, м. Полтава,<br />
          вул. Маршала Бірюзова, 15
        </p></a
      >
    </address>
  </div>
</section>
