.hotel {
  background: $fonLemon;

  .container {
    padding-top: 32px;
    padding-bottom: 32px;
    // overflow: hidden;
    @include forTabletUp {
      position: relative;
      padding-top: 64px;
      padding-bottom: 104px;
    }
    @include forDesktop {
      padding-top: 72px;
      padding-bottom: 112px;
    }
  }
  &__top-box {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 32px;
    @include forTabletUp {
      flex-direction: row;
      gap: 26px;
      margin-bottom: 0px;
    }
    @include forDesktop {
      gap: 46px;
    }
  }

  &__sub-title {
    font-family: 'Times New Roman';
    font-size: 20px;
    line-height: 1.15;
    color: $lightGrayText;
    margin-bottom: 8px;
    @include forTabletUp {
      font-size: 32px;
      line-height: 1.156;
      margin-bottom: 4px;
    }
  }

  &__title {
    font-family: 'Times New Roman';
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.05em;
    margin-top: 32px;
    margin-bottom: 12px;
    text-transform: uppercase;
    @include forTabletUp {
      width: 439px;
      font-size: 30px;
      line-height: 1.13;
      margin-top: 64px;
      margin-bottom: 16px;
    }
    .hotel-title__span {
      text-transform: lowercase;
    }
    @include forDesktop {
      width: 507px;
      font-size: 36px;
      line-height: 1.139;
      letter-spacing: 0.048em;
      margin-top: 72px;
      margin-bottom: 24px;
    }
  }

  &__text {
    width: 100%;
    max-width: 258px;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $grayText;
    @include forTabletUp {
      max-width: 439px;
      font-size: 16px;
      line-height: 1.25;
      margin-bottom: 176px;
    }
    @include forDesktop {
      max-width: 400px;
      margin-bottom: 188px;
    }
  }

  &__main-room-img {
    margin-left: auto;
    box-shadow: $littleShadow;
    @include forTabletUp {
      margin-top: -96px;
    }
    @include forDesktop {
      margin-top: -104px;
    }
  }

  &__bottom-box {
    display: flex;
    flex-direction: column;
    // gap: 72px;
   
    @include forTabletUp {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__slider {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 120px;
    @include forTabletUp {
      margin-left: 0;
      gap: 40px;
      right: 0;
    }
  }

  // &__slider-img {
  //   box-shadow: $littleShadow;
  // }

  &__button {
    margin: 0 auto;
    width: 236px;
    padding-top: 14px;
    padding-bottom: 14px;
  }

  &__button:not(:last-child) {
    margin-bottom: 16px;

    text-decoration: none;
    text-align: center;
  }
}
