<footer class="footer">
  <div class="gradient-container--footer">
    <div class="container">
      <div class="footer__container">
        <a href="./index.html" lang="en" class="footer__logo">Mimiho</a>
      </div>
      <ul class="footer__list">
        <li><a href="./index.html" class="footer__list-link">Головна</a></li>
        <li>
          <a href="./restaurant.html" class="footer__list-link">Ресторан</a>
        </li>
        <li><a href="./hotel.html" class="footer__list-link">Готель</a></li>
      </ul>

      <ul class="footer__social-list">
        <li>
          <a
            href="https://www.instagram.com/"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="footer__social-link"
          >
            <p class="footer__social-text">Instagram</p>
            <svg width="24px" height="24px" class="footer__social-icon">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://www.facebook.com/campaign/landing.php?&campaign_id=1600506847&extra_1=s%7Cc%7C515922865595%7Ce%7C%D1%84%D0%B5%D0%B9%D1%81%D0%B1%D1%83%D0%BA%7C&placement=&creative=515922865595&keyword=%D1%84%D0%B5%D0%B9%D1%81%D0%B1%D1%83%D0%BA&partner_id=googlesem&extra_2=campaignid%3D1600506847%26adgroupid%3D60825662376%26matchtype%3De%26network%3Dg%26source%3Dnotmobile%26search_or_content%3Ds%26device%3Dc%26devicemodel%3D%26adposition%3D%26target%3D%26targetid%3Dkwd-300034615170%26loc_physical_ms%3D1030519%26loc_interest_ms%3D%26feeditemid%3D%26param1%3D%26param2%3D&gclid=CjwKCAiAhKycBhAQEiwAgf19epBlajOjQL_NSaA3cSsfX7Z2b4R915AwBWxkTWPApjs-F5zNQOo1LBoCQTgQAvD_BwE"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="footer__social-link"
          >
            <p class="footer__social-text">Facebook</p>
            <svg width="24px" height="24px" class="footer__social-icon">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li>
          <a
            href="https://web.telegram.org/k/"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="footer__social-link"
          >
            <p class="footer__social-text">Telegram</p>
            <svg width="24px" height="24px" class="footer__social-icon">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
