<footer class="footer">
  <div class="gradient-container--footer">
  <div class="container">
    <a href="./index.html" lang="en" class="footer__logo">Mimiho</a>

    <div class="footer__container">
      <ul class="footer__list">
        <li><a href="./index.html" class="footer__link">Головна</a></li>
        <li><a href="./restaurant.html" class="footer__link">Ресторан</a></li>
        <li><a href="./hotel.html" class="footer__link">Готель</a></li>
      </ul>

      <ul class="footer__address-list">
        <li class="footer__address-item">
          <a
            href=""
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="footer__address-link"
          >
            <p class="footer__address-text">Instagram</p>
            <svg width="24px" height="24px" class="footer__icon">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer__address-item">
          <a
            href=""
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="footer__address-link"
          >
            <p class="footer__address-text">Facebook</p>
            <svg width="24px" height="24px" class="footer__icon">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer__address-item footer__address-item--margin">
          <a
            href=""
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="footer__address-link"
          >
            <p class="footer__address-text">Telegram</p>
            <svg width="24px" height="24px" class="footer__icon">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
  </div>
</footer>
