<section class="homepage-hero">
  <div class="container">
    <h1 class="homepage-hero__title">Mimiho</h1>
    <h2 class="homepage-hero__text">Ресторанно-готельний комплекс</h2>
    <p class="homepage-hero__text-second">Смак життя 24/7</p>
    <div class="homepage-hero__button-container">
      <button
        type="button"
        class="button homepage-hero__button-hero"
        data-modal-open
      >
        Забронювати столик
      </button>
      <button
        type="button"
        class="button homepage-hero__button-hero homepage-hero__button-hero--padding"
        data-modal-room-open
      >
        Забронювати номер
      </button>
    </div>
    <ul class="homepage-hero__adress-social">
      <li>
        <a href="">
          <svg width="22px" height="22px" class="homepage-hero__icon">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg width="22px" height="22px" class="homepage-hero__icon">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="">
          <svg width="22px" height="22px" class="homepage-hero__icon">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </a>
      </li>
    </ul>

    <address>
      <a
        href="https://goo.gl/maps/wJHR6oR1RSBU5bay5"
        target="_blank"
        rel="noopener noreferrer nofollow"
        class="homepage-hero__address-link"
      >
        <svg width="24px" height="24px" class="homepage-hero__icon">
          <use href="./images/icons.svg#icon-location"></use>
        </svg>
        <p class="homepage-hero__address-text">
          Україна, м. Полтава,<br />
          вул. Маршала Бірюзова, 15
        </p></a
      >
    </address>
  </div>
</section>
