<section class="details-hotel">
  <div class="gradient-container">
    <div class="container">
      <div class="gradient-container--footer">
        <p class="brand-name details-hotel__name">Mimiho</p>
        <h2 class="details-hotel__title">Готель</h2>
        <p class="details-hotel__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

      <div class="details-hotel__wrapper">
        <ul class="slider hotel-x3">
          <li class="slider__item">
            <picture>
              <source
                srcset="
                  ./images/homepage-images/details-hotel/details-hotel1_mobile.jpg    1x,
                  ./images/homepage-images/details-hotel/details-hotel1_mobile@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/homepage-images/details-hotel/details-hotel1_desktop.jpg    1x,
                  ./images/homepage-images/details-hotel/details-hotel1_desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/homepage-images/details-hotel/details-hotel1_tablet.jpg    1x,
                  ./images/homepage-images/details-hotel/details-hotel1_tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />

              <img
                src="./images/homepage-images/details-hotel/details-hotel1_mobile@2x.jpg "
                alt="Бокал вина"
              />
            </picture>
          </li>
          <li>
            <picture>
              <source
                srcset="
                  ./images/slick/mobile/slick18-mobile.jpg    1x,
                  ./images/slick/mobile/slick18-mobile@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/slick/desktop/slick18-desktop.jpg    1x,
                  ./images/slick/desktop/slick18-desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/slick/tablet/slick18-tablet.jpg    1x,
                  ./images/slick/tablet/slick18-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />

              <img
                src="./images/slick/mobile/slick18-mobile.jpg"
                alt="Coffee"
                class="details-restaurant__first-pics"
              />
            </picture>
          </li>
          <li class="slider__item">
            <picture>
              <source srcset="
              ./images/homepage-images/details-hotel/details-hotel3_desktop.jpg
              1x,
              ./images/homepage-images/details-hotel/details-hotel3_desktop@2x.jpg
              2x" media="(max-width: 1023px)" />
              <source
                srcset="
                  ./images/homepage-images/details-hotel/details-hotel3_desktop.jpg    1x,
                  ./images/homepage-images/details-hotel/details-hotel3_desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/homepage-images/details-hotel/details-hotel3_desktop.jpg    1x,
                  ./images/homepage-images/details-hotel/details-hotel3_desktop@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />

              <img
                src="./images/homepage-images/details-hotel/details-hotel2_mobile@2x.jpg "
                alt="Бокал вина"
              />
            </picture>
          </li>
          <li class="slider__item">
            <picture>
              <source
                srcset="
                  ./images/slick/mobile/slick1-mobile@1x.jpg 1x,
                  ./images/slick/mobile/slick1-mobile@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/slick/desktop/slick1-desktop@1x.jpg 1x,
                  ./images/slick/desktop/slick1-desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/slick/tablet/slick1-tablet@1x.jpg 1x,
                  ./images/slick/tablet/slick1-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />

              <img
                src="./images/slick/mobile/slick1-mobile@1x.jpg"
                alt="Coffee"
                class="details-restaurant__first-pics"
              />
            </picture>
          </li>
          <li class="slider__item">
            <picture>
              <source
                srcset="
                  ./images/slick/mobile/slick2-mobile@1x.jpg 1x,
                  ./images/slick/mobile/slick2-mobile@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/slick/desktop/slick2-desktop@1x.jpg 1x,
                  ./images/slick/desktop/slick2-desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/slick/tablet/slick2-tablet@1x.jpg 1x,
                  ./images/slick/tablet/slick2-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />

              <img
                src="./images/slick/mobile/slick2-mobile@1x.jpg"
                alt="Coffee"
                class="details-restaurant__first-pics"
              />
            </picture>
          </li>
          <li class="slider__item">
            <picture>
              <source
                srcset="
                  ./images/slick/mobile/slick3-mobile@1x.jpg 1x,
                  ./images/slick/mobile/slick3-mobile@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/slick/desktop/slick3-desktop@1x.jpg 1x,
                  ./images/slick/desktop/slick3-desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/slick/tablet/slick3-tablet@1x.jpg 1x,
                  ./images/slick/tablet/slick3-tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />

              <img
                src="./images/slick/mobile/slick3-mobile@1x.jpg"
                alt="Coffee"
                class="details-restaurant__first-pics"
              />
            </picture>
          </li>
        </ul>

        <div class="details-hotel__buttons">
          <button
            type="button"
            class="button details-hotel__first-button"
            data-modal-room-open-1
          >
            Забронювати номер
          </button>
          <a
            href="./hotel.html"
            class="button details-restaurant__second-button"
          >
            Переглянути ціни
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
