<section class="about-hotel">
    <div class="container">
        <p class="about-hotel__subtitle"> Amet minim mollit non</p>
        <h2 class="visually-hidden">Готель</h2>
        <p class="brand-name">Mimiho</p>
        <p class="about-hotel__title-text"> Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit officia consequat duis enim velit
            mollit. Exercitation veniam consequat sunt nostrud amet.</p>

        <picture>
            <source
                srcset="
                        ./images/homepage-images/about-hotel/modern-studio-apartment-design-with-bedroom-living-space-mobile.jpg 1x,    
                        ./images/homepage-images/about-hotel/modern-studio-apartment-design-with-bedroom-living-space-mobile@2x.jpg 2x"
                media="(max-width: 1023px)" />
            <source
                srcset="
                        ./images/homepage-images/about-hotel/modern-studio-apartment-design-with-bedroom-living-space-desktop.jpg  1x,
                        ./images/homepage-images/about-hotel/modern-studio-apartment-design-with-bedroom-living-space-desktop@2x.jpg 2x "
                media="(min-width: 1280px)" />
            <source
                srcset="
                        ./images/homepage-images/about-hotel/modern-studio-apartment-design-with-bedroom-living-space-tablet.jpg   1x,
                        ./images/homepage-images/about-hotel/modern-studio-apartment-design-with-bedroom-living-space-tablet@2x.jpg 2x "
                media="(min-width: 1024px)" />

            <img class="about-hotel__title-pic"
                src="./images/homepage-images/about-hotel/modern-studio-apartment-design-with-bedroom-living-space-mobile.jpg"
                alt="Hotel" />
        </picture>

        <div class="about-hotel__wrapper">

            <p class="about-hotel__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <picture>
                <source srcset="
                        ./images/homepage-images/about-hotel/hotel-mobile.jpg    1x,
                        ./images/homepage-images/about-hotel/hotel-mobile@2x.jpg 2x
                        " media="(max-width: 1023px)" />
                <source srcset="
                        ./images/homepage-images/about-hotel/hotel-desktop.jpg    1x,
                        ./images/homepage-images/about-hotel/hotel-desktop@2x.jpg 2x
                        " media="(min-width: 1280px)" />
                <source srcset="
                        ./images/homepage-images/about-hotel/hotel-tablet.jpg    1x,
                        ./images/homepage-images/about-hotel/hotel-tablet@2x.jpg 2x
                        " media="(min-width: 1024px)" />

                <img class="about-hotel__img" src="./images/homepage-images/about-hotel/hotel-mobile.jpg" alt="Hotel" />
            </picture>
        </div>
        <ul class="about-hotel__pics">
            <li>
                <picture>
                    <source srcset="
                        ./images/homepage-images/about-hotel/white-towel-bed-decoration-mobile.jpg    1x,
                        ./images/homepage-images/about-hotel/white-towel-bed-decoration-mobile@2x.jpg 2x
                        " media="(max-width: 1023px)" />
                    <source srcset="
                        ./images/homepage-images/about-hotel/white-towel-bed-decoration-bedroom-interior-desktop.jpg    1x,
                        ./images/homepage-images/about-hotel/white-towel-bed-decoration-bedroom-interior-desktop@2x.jpg 2x
                        " media="(min-width: 1280px)" />
                    <source srcset="
                        ./images/homepage-images/about-hotel/white-towel-bed-decoration-bedroom-interior-tablet.jpg    1x,
                        ./images/homepage-images/about-hotel/white-towel-bed-decoration-bedroom-interior-tablet@2x.jpg 2x
                        " media="(min-width: 1024px)" />

                    <img src="./images/homepage-images/about-hotel/white-towel-bed-decoration-mobile.jpg" alt="Hotel" />
                </picture>
            </li>
            <li>
                <picture>
                    <source srcset="
                        ./images/homepage-images/about-hotel/hotel-registration-mobile.jpg    1x,
                        ./images/homepage-images/about-hotel/hotel-registration-mobile@2x.jpg 2x
                        " media="(max-width: 1023px)" />
                    <source srcset="
                        ./images/homepage-images/about-hotel/hotel-registration-desktop.jpg    1x,
                        ./images/homepage-images/about-hotel/hotel-registration-desktop@2x.jpg 2x
                        " media="(min-width: 1280px)" />
                    <source srcset="
                        ./images/homepage-images/about-hotel/hotel-registration-tablet.jpg    1x,
                        ./images/homepage-images/about-hotel/hotel-registration-tablet@2x.jpg 2x
                        " media="(min-width: 1024px)" />

                    <img src="./images/homepage-images/about-hotel/hotel-registration-mobile.jpg" alt="Hotel" />
                </picture>
            </li>
        </ul>
        <div class="about-hotel__button">
            <button class="about-hotel__arrow-button" type="button"><svg width="32" height="32">
                    <use href="./images/icons.svg#icon-arrow-left"></use>
                </svg>
            </button>
            <button class="about-hotel__arrow-button" type="button"><svg width="32" height="32">
                    <use href="./images/icons.svg#icon-arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>