<section class="about-hotel">
  <div class="container">
    <p class="about-hotel__subtitle">Amet minim mollit non</p>
    <h2 class="visually-hidden">Готель</h2>
    <p class="brand-name">Mimiho</p>
    <p class="about-hotel__title-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>

    <picture>
      <source
        srcset="
          ./images/homepage-images/about-hotel/modern-studio-apartment-design-with-bedroom-living-space-mobile.jpg    1x,
          ./images/homepage-images/about-hotel/modern-studio-apartment-design-with-bedroom-living-space-mobile@2x.jpg 2x
        "
        media="(max-width: 1023px)"
      />
      <source
        srcset="
          ./images/homepage-images/about-hotel/modern-studio-apartment-design-with-bedroom-living-space-desktop.jpg    1x,
          ./images/homepage-images/about-hotel/modern-studio-apartment-design-with-bedroom-living-space-desktop@2x.jpg 2x
        "
        media="(min-width: 1280px)"
      />
      <source
        srcset="
          ./images/homepage-images/about-hotel/modern-studio-apartment-design-with-bedroom-living-space-tablet.jpg    1x,
          ./images/homepage-images/about-hotel/modern-studio-apartment-design-with-bedroom-living-space-tablet@2x.jpg 2x
        "
        media="(min-width: 1024px)"
      />

      <img
        class="about-hotel__title-pic"
        src="./images/homepage-images/about-hotel/modern-studio-apartment-design-with-bedroom-living-space-mobile.jpg"
        alt="Hotel"
      />
    </picture>

    <div class="about-hotel__wrapper">
      <p class="about-hotel__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source
          srcset="
            ./images/homepage-images/about-hotel/hotel-mobile.jpg    1x,
            ./images/homepage-images/about-hotel/hotel-mobile@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/homepage-images/about-hotel/hotel-desktop.jpg    1x,
            ./images/homepage-images/about-hotel/hotel-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/homepage-images/about-hotel/hotel-tablet.jpg    1x,
            ./images/homepage-images/about-hotel/hotel-tablet@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />

        <img
          class="about-hotel__img"
          src="./images/homepage-images/about-hotel/hotel-mobile.jpg"
          alt="Hotel"
        />
      </picture>
    </div>

    <ul class="slider hotel-x2 hotel-w548 homepage">
      <li class="slider__item">
        <picture>
          <source
            srcset="
              ./images/slick/mobile/slick10-mobile@1x.jpg 1x,
              ./images/slick/mobile/slick10-mobile@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/slick/desktop/slick10-desktop@1x.jpg 1x,
              ./images/slick/desktop/slick10-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/slick/tablet/slick10-tablet@1x.jpg 1x,
              ./images/slick/tablet/slick10-tablet@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />

          <img src="./images/slick/mobile/slick10-mobile@1x.jpg" alt="Coffee" />
        </picture>
      </li>
      <li class="slider__item">
        <picture>
          <source
            srcset="
              ./images/slick/mobile/slick4-mobile@1x.jpg 1x,
              ./images/slick/mobile/slick4-mobile@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/slick/desktop/slick4-desktop@1x.jpg 1x,
              ./images/slick/desktop/slick4-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/slick/tablet/slick4-tablet@1x.jpg 1x,
              ./images/slick/tablet/slick4-tablet@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />

          <img src="./images/slick/mobile/slick4-mobile@1x.jpg" alt="Coffee" />
        </picture>
      </li>
      <li class="slider__item">
        <picture>
          <source
            srcset="
              ./images/slick/mobile/slick5-mobile@1x.jpg 1x,
              ./images/slick/mobile/slick5-mobile@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/slick/desktop/slick5-desktop@1x.jpg 1x,
              ./images/slick/desktop/slick5-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/slick/tablet/slick5-tablet@1x.jpg 1x,
              ./images/slick/tablet/slick5-tablet@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />

          <img src="./images/slick/mobile/slick5-mobile@1x.jpg" alt="Coffee" />
        </picture>
      </li>
      <li class="slider__item">
        <picture>
          <source
            srcset="
              ./images/slick/mobile/slick11-mobile@1x.jpg 1x,
              ./images/slick/mobile/slick11-mobile@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/slick/desktop/slick11-desktop@1x.jpg 1x,
              ./images/slick/desktop/slick11-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/slick/tablet/slick11-tablet@1x.jpg 1x,
              ./images/slick/tablet/slick11-tablet@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />

          <img src="./images/slick/mobile/slick11-mobile@1x.jpg" alt="Coffee" />
        </picture>
      </li>
    </ul>
  </div>
</section>
