<section class="details-restaurant">
  <div class="gradient-container">
    <div class="container">
      <div class="details-restaurant__container">
        <p class="brand-name details-restaurant__name">Mimiho</p>
        <h2 class="details-restaurant__title">Ресторан</h2>

        <p class="details-restaurant__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

      <div class="details-restaurant__wrapper">
        <ul class="details-restaurant__pics">
          <li class="details-restaurant__first-pics">
            <picture>
              <source
                srcset="
                  ./images/homepage-images/details-restaurant/details-restaurant1_mobile.jpg    1x,
                  ./images/homepage-images/details-restaurant/details-restaurant1_mobile@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/homepage-images/details-restaurant/details-restaurant1_desktop.jpg    1x,
                  ./images/homepage-images/details-restaurant/details-restaurant1_desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/homepage-images/details-restaurant/details-restaurant1_tablet.jpg    1x,
                  ./images/homepage-images/details-restaurant/details-restaurant1_tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />

              <img
                src="./images/homepage-images/details-restaurant/details-restaurant1_mobile.jpg"
                alt="Meat"
              />
            </picture>
          </li>
          <li class="details-restaurant__second-pics">
            <picture>
              <source
                srcset="
                  ./images/homepage-images/details-restaurant/details-restaurant2_mobile.jpg    1x,
                  ./images/homepage-images/details-restaurant/details-restaurant2_mobile@2x.jpg 2x
                "
                media="(max-width: 1023px)"
              />
              <source
                srcset="
                  ./images/homepage-images/details-restaurant/details-restaurant2_desktop.jpg    1x,
                  ./images/homepage-images/details-restaurant/details-restaurant2_desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/homepage-images/details-restaurant/details-restaurant2_tablet.jpg    1x,
                  ./images/homepage-images/details-restaurant/details-restaurant2_tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />

              <img
                src="./images/homepage-images/details-restaurant/details-restaurant2_mobile.jpg"
                alt="Sandwich"
              />
            </picture>
          </li>
          <li class="details-restaurant__third-pics">
            <picture>
              <source
                srcset="
                  ./images/homepage-images/details-restaurant/details-restaurant3_desktop.jpg    1x,
                  ./images/homepage-images/details-restaurant/details-restaurant3_desktop@2x.jpg 2x
                "
                media="(min-width: 1280px)"
              />
              <source
                srcset="
                  ./images/homepage-images/details-restaurant/details-restaurant3_tablet.jpg    1x,
                  ./images/homepage-images/details-restaurant/details-restaurant3_tablet@2x.jpg 2x
                "
                media="(min-width: 1024px)"
              />
              <img src="#" alt="Spring rolls" />
            </picture>
          </li>
        </ul>
        <div class="details-restaurant__buttons">
          <button type="button" class="button details-restaurant__first-button">
            Забронювати столик
          </button>
          <button
            type="button"
            class="button details-restaurant__second-button"
          >
            Переглянути меню
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
