<section class="homepage-contact">
  <div class="gradient-container">
    <div class="container homepage-contact__container">
      <h2 class="visually-hidden">Контакти</h2>
      <div class="homepage-contact__block">
        <h3 class="brand-name homepage-contact__name">MIMIHO</h3>
        <p class="homepage-contact__text">Ресторанно-готельний комплекс</p>
        <address>
          <ul class="homepage-contact__list">
            <li class="homepage-contact__item">
              <p class="homepage-contact__subtitle">Ресторан</p>
              <div class="homepage-contact__box-phone">
                <a class="homepage-contact__link" href="tel:+380955559533">
                  <svg width="22px" height="22px" class="homepage-contact__icon">
                    <use href="./images/icons.svg#icon-phone"></use>
                  </svg>
                  <p class="homepage-contact__phone-link">095 555 95 33</p>

                </a>
              </div>
            </li>
            <li class="homepage-contact__item">
              <p class="homepage-contact__subtitle homepage-contact__subtitle--second">
                Готель
              </p>
              <div class="homepage-contact__box-phone">
                <a class="homepage-contact__link" href="tel:+380668491089">
                  <svg width="22px" height="22px" class="homepage-contact__icon">
                    <use href="./images/icons.svg#icon-phone"></use>
                  </svg>
                </a>
                <div class="homepage-contact__link-container">
                  <a class="homepage-contact__link" href="tel:+380668491089">
                    <p>066 849 10 89</p>
                  </a>
                  <a class="homepage-contact__link" href="tel:+380672758540">
                    <p>067 275 85 40</p>
                  </a>
                </div>
              </div>
            </li>
          </ul>
          <div class="homepage-contact__box-adress">
            <a class="homepage-contact__adress" href="https://goo.gl/maps/tWhdpManRyCzSjqQ6" target="_blank"
              rel="noopener noreferrer nofollow">
              <svg width="48px" height="48px" class="homepage-contact__adress">
                <use href="./images/icons.svg#icon-location"></use>
              </svg>
              <p>Україна, м.Полтава, вул. Маршала Бірюзова, 15</p>
            </a>
          </div>
          </adress>
      </div>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.915399653419!2d34.523976844750315!3d49.59934480986969!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d826021e9c03af%3A0x9d345b9ebd99b550!2z0YPQuy4g0JzQsNGA0YjQsNC70LAg0JHQuNGA0Y7Qt9C-0LLQsCwgMTUsINCf0L7Qu9GC0LDQstCwLCDQn9C-0LvRgtCw0LLRgdC60LDRjyDQvtCx0LvQsNGB0YLRjCwgMzYwMDA!5e0!3m2!1sru!2sua!4v1670004789359!5m2!1sru!2sua"
        width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</section>