<section class="about-restaurant">
  <div class="gradient-container">
    <div class="container about-restaurant__container">
      <p class="about-restaurant__subtitle">Amet minim mollit non</p>
      <h2 class="visually-hidden">Опис ресторану</h2>
      <p class="brand-name about-restaurant__name">Mimiho</p>
      <p class="about-restaurant__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture>
        <source
          srcset="
            ./images/homepage-images/about-restaurant/interior-mobile.jpg    1x,
            ./images/homepage-images/about-restaurant/interior-mobile@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            ./images/homepage-images/about-restaurant/interior-tablet.jpg    1x,
            ./images/homepage-images/about-restaurant/interior-tablet@2x.jpg 2x
          "
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/homepage-images/about-restaurant/interior-desktop.jpg    1x,
            ./images/homepage-images/about-restaurant/interior-desktop@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <img
          class="about-restaurant__img"
          src="./images/homepage-images/about-restaurant/interior-desktop.jpg "
          alt="Інтерьер"
        />
      </picture>
      <div class="about-restaurant__box">
        <picture>
          <source
            srcset="
              ./images/homepage-images/about-restaurant/oruri-mobile.jpg    1x,
              ./images/homepage-images/about-restaurant/oruri-mobile@2x.jpg 2x
            "
            media="(max-width: 1023px)"
          />
          <source
            srcset="
              ./images/homepage-images/about-restaurant/oruri-tablet.jpg    1x,
              ./images/homepage-images/about-restaurant/oruri-tablet@2x.jpg 2x
            "
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/homepage-images/about-restaurant/oruri-desktop.jpg    1x,
              ./images/homepage-images/about-restaurant/oruri-desktop@2x.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            class="about-restaurant__picture"
            src="./images/homepage-images/about-restaurant/oruri-desktop.jpg "
            alt="Обідня зала"
          />
        </picture>
        <p class="about-restaurant__text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>

      <ul class="slider restoraunt-x2">
        <li class="slider__item">
          <picture>
            <source
              srcset="
                ./images/homepage-images/about-restaurant/helena-mobile.jpg    1x,
                ./images/homepage-images/about-restaurant/helena-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/homepage-images/about-restaurant/helena-tablet.jpg    1x,
                ./images/homepage-images/about-restaurant/helena-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/homepage-images/about-restaurant/helena-desktop.jpg    1x,
                ./images/homepage-images/about-restaurant/helena-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/homepage-images/about-restaurant/helena-mobile.jpg"
              alt="Бокал вина"
            />
          </picture>
        </li>
        <li class="slider__item">
          <picture>
            <source
              srcset="
                ./images/homepage-images/about-restaurant/mat-mobile.jpg    1x,
                ./images/homepage-images/about-restaurant/mat-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/homepage-images/about-restaurant/mat-tablet.jpg    1x,
                ./images/homepage-images/about-restaurant/mat-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />
            <source
              srcset="
                ./images/homepage-images/about-restaurant/mat-desktop.jpg    1x,
                ./images/homepage-images/about-restaurant/mat-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="./images/homepage-images/about-restaurant/mat-mobile.jpg"
              alt="Бокал вина"
            />
          </picture>
        </li>
        <li class="slider__item">
          <picture>
            <source
              srcset="
                ./images/slick/mobile/slick9-mobile@1x.jpg 1x,
                ./images/slick/mobile/slick9-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/slick/desktop/slick9-desktop@1x.jpg 1x,
                ./images/slick/desktop/slick9-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/slick/tablet/slick9-tablet@1x.jpg 1x,
                ./images/slick/tablet/slick9-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <img
              src="./images/slick/mobile/slick9-mobile@1x.jpg"
              alt="Coffee"
              class="details-restaurant__first-pics"
            />
          </picture>
        </li>
        <li class="slider__item">
          <picture>
            <source
              srcset="
                ./images/slick/mobile/slick14-mobile@1x.jpg 1x,
                ./images/slick/mobile/slick14-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/slick/desktop/slick14-desktop@1x.jpg 1x,
                ./images/slick/desktop/slick14-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/slick/tablet/slick14-tablet@1x.jpg 1x,
                ./images/slick/tablet/slick14-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <img
              src="./images/slick/mobile/slick14-mobile@1x.jpg"
              alt="Coffee"
              class="details-restaurant__first-pics"
            />
          </picture>
        </li>
        <li class="slider__item">
          <picture>
            <source
              srcset="
                ./images/slick/mobile/slick15-mobile@1x.jpg 1x,
                ./images/slick/mobile/slick15-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/slick/desktop/slick15-desktop@1x.jpg 1x,
                ./images/slick/desktop/slick15-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/slick/tablet/slick15-tablet@1x.jpg 1x,
                ./images/slick/tablet/slick15-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <img
              src="./images/slick/mobile/slick15-mobile@1x.jpg"
              alt="Coffee"
              class="details-restaurant__first-pics"
            />
          </picture>
        </li>
        <li class="slider__item">
          <picture>
            <source
              srcset="
                ./images/slick/mobile/slick16-mobile@1x.jpg 1x,
                ./images/slick/mobile/slick16-mobile@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                ./images/slick/desktop/slick16-desktop@1x.jpg 1x,
                ./images/slick/desktop/slick16-desktop@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <source
              srcset="
                ./images/slick/tablet/slick16-tablet@1x.jpg 1x,
                ./images/slick/tablet/slick16-tablet@2x.jpg 2x
              "
              media="(min-width: 1024px)"
            />

            <img
              src="./images/slick/mobile/slick16-mobile@1x.jpg"
              alt="Coffee"
              class="details-restaurant__first-pics"
            />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>
