<section class="homepage-contact">
    <div class="container homepage-contact__container">
        <h2 class="visually-hidden">Контакти</h2>
        <div class="homepage-contact__block">
            <h3 class="brand-name homepage-contact__name">MIMIHO</h3>
            <p class="homepage-contact__text">Ресторанно-готельний комплекс</p>
            <ul class="homepage-contact__list">
                <li class="homepage-contact__item">
                    <p class="homepage-contact__subtitle">Ресторан</p>
                    <div class="homepage-contact__box-phone">

                        <a class="homepage-contact__link" href="tel:+380955559533">
                            <svg width="24px" height="24px" class="homepage-contact__icon">
                                <use href="./images/icons.svg#icon-phone"></use>
                            </svg>
                            <p>095 555 95 33</p>
                        </a>
                    </div>
                </li>
                <li class="homepage-contact__item">
                    <p class="homepage-contact__subtitle homepage-contact__subtitle--second">Готель</p>
                    <div class="homepage-contact__box-phone">
                        <a class="homepage-contact__link" href="tel:+380668491089">
                            <svg width="24px" height="24px" class="homepage-contact__icon">
                                <use href="./images/icons.svg#icon-phone"></use>
                            </svg>
                            <p>066 849 10 89</p>
                        </a>
                        <a class="homepage-contact__link" href="tel:+380672758540">
                            <p>067 275 85 40</p>
                        </a>

                    </div>

                </li>
            </ul>
            <div class="homepage-contact__box-adress">

                <a class="homepage-contact__adress" href="https://goo.gl/maps/tWhdpManRyCzSjqQ6" target="_blank"
                    rel="noopener noreferrer nofollow"> <svg width="48px" height="48px"
                        class="homepage-contact__adress">
                        <use href="./images/icons.svg#icon-location"></use>
                    </svg>
                    <p>Україна, м.Полтава, вул. Маршала Бірюзова, 15</p>
                </a>
            </div>
        </div>
        <div class="homepage-contact__map">
            <picture class="homepage-contact__img">
                <source srcset="
                ./images/homepage-images/homepage-contact/map-mobile.jpg 1x,
                ./images/homepage-images/homepage-contact/map-mobile@2x.jpg 2x
                " media="(max-width: 1023px)" />
                <source srcset="
               ./images/homepage-images/homepage-contact/map-tablet.jpg 1x,
               ./images/homepage-images/homepage-contact/map-tablet@2x.jpg 2x
                  " media="(min-width: 1024px)" />
                <source srcset="
                 ./images/homepage-images/homepage-contact/map-desktop.jpg 1x,
                 ./images/homepage-images/homepage-contact/map-desktop@2x.jpg 2x
                    " media="(min-width: 1280px)" />
                <img src="./images/homepage-images/homepage-contact/map-desktop.jpg " alt="мапа" />
            </picture>
        </div>
    </div>
</section>